# Logs
index.txt

client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

client/# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?



.vscode/
server/__pycache__/
server/venv/.Python
server/venv/[Bb]in
server/venv/[Ii]nclude
server/venv/[Ll]ib
server/venv/[Ll]ib64
server/venv/[Ll]ocal
server/venv/[Ss]cripts
server/venv/pyvenv.cfg
server/venv/.venv
server/venv/pip-selfcheck.json